<h1>Algoritmos de Enjambre</h1>
<p>Bienvenido</p>
<h4 class="contenido">
  Inteligencia de enjambre
  Un paradigma que considera la inteligencia colectiva como un comportamiento que emerge a través de la interacción y la colaboración de un gran número de agentes inteligentes menores. El paradigma se compone de dos sub-campos dominantes
  1) Optimización de Colonia de Hormigas que investiga algoritmos probabilísticos inspirados en el comportamiento de buscar alimento de las hormigas
  y
  2) Optimización enjambre de partículas que investiga algoritmos probabilísticos inspirados en el flocado(agrupación) y el comportamiento de búsqueda de alimento de aves y peces. Al igual que la computación evolutiva, las técnicas basadas en la inteligencia de enjambre se consideran estrategias de adaptación y se aplican normalmente a la búsqueda y optimización de los dominios.

</h4><br>
<h3><a href="/info/bee">Algoritmo de Abejas</a></h3>
<br>
<h3><a href="/info/ant">Algoritmo de sistema de  Hormigas</a></h3>