<p id="notice"><%= notice %></p>
Config = <%= @ant.inspect %>
<br>
<p><span>Done!</span> Solution: <br>
  c = <%= @best[:cost]%>
  <br>
  v = <%= @best[:vector].inspect%>
</p>

<a href="/ants">Back</a>
