body {
  background-color: #ffffff;
 color: #0a2966;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.contenido{
  text-align: justify;
  margin-right: 2em;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #0a2966;

  &:visited {
    color: #0037b9;
  }

  &:hover {
    color: #e9f3ee;
    background-color: rgba(0, 55, 185, 0.93);
  }
}

th {
  padding-bottom: 5px;
  text-align: center;
  border-color: #0a296e;
  border-style: solid;
  border-collapse: collapse;

}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  border-color: #0a2966;
  border:solid;
  border-collapse: collapse;
  border-radius: 7px;
  color: #0a296e;

}
table {
  border:solid;
  border-collapse: collapse;
}
table a{
  color: #0037b9;
  &:visited {
  color: #0a2966;
}

&:hover {
  color: #0a2966;
  background-color: rgba(144, 200, 217, 0.93);
  }
}

.tabla tbody tr:hover td, .table-hover tbody tr:hover th {

  background-color: #b1e9f1;
  color: #0a2966;
  border-color: #0037b9;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
