<p id="notice"><%= notice %></p>
Config = <%= @bee.inspect %>
<br>
<p><span>Done!</span> Solution: <br>
  f= <%= @best[:fitness]%>
  <br>
  s=<%= @best[:vector].inspect%>
</p>

<a href="/bees">Back</a>
