<p id="notice"><%= notice %></p>
Config = <%= @bee.inspect %>
<br>
<p><span>Terminado!</span> Solución: <br>
  f = <%= @best[:fitness]%>
  <br>
  s = <%= @best[:vector].inspect%>
</p>

<a href="/bees">Volver</a>
