<h1>Algoritmo de sistema de hormigas</h1>
<h4 class="contenido">El algoritmo sistema de hormiga está inspirado en el comportamiento de forrajeo de las hormigas, específicamente en la comunicación por feromonas entre las hormigas en relación con una buena trayectoria entre la colonia y una fuente de alimento en un entorno. Este mecanismo se llama estigmergia.</h4>
<h4 class="contenido">Las hormigas deambulan inicialmente al azar alrededor de su entorno. Una vez que los alimentos son encontrados una hormiga comenzará a soltar feromonas en el medio ambiente. Numerosos viajes entre la comida y la colonia se llevan a cabo y si la misma ruta se sigue que conduce a la comida, entonces feromonas adicionales son dejadas. La feromona se disemina en el medio ambiente, de modo que los otros caminos son menos propensos a ser seguidos. Otras hormigas pueden descubrir el mismo camino a la comida y, a su vez pueden seguirlo y asimismo, deja la feromona. Un resultado positivo del proceso de retroalimentación de las rutas lleva más y más hormigas a caminos productivos que son a su vez más refinados a través del uso.</h4>
<h3>
  |<%= link_to 'Problemas para sistema de Hormigas', ants_path %>
</h3>|
<%= link_to 'Volver', welcome_index_path %>