<h1>Algoritmo de Abejas</h1>
<h4 class="contenido">El Algoritmo de las Abejas se inspira en el comportamiento de forrajeo de las abejas melíferas. Las abejas recogen el néctar de vastas áreas alrededor de su colmena (más de 10 kilómetros). Se ha observado que las colonias de abejas han enviado abejas para recolectar néctar de parches de flores en relación con la cantidad de alimento disponible en cada parche. Las abejas se comunican entre sí en la colmena a través de una danza que informa a otras abejas en la colmena en cuanto a la dirección, la distancia y la calidad de las fuentes de alimentos.</h4>
<h3>
  |<%= link_to 'Abejas', bees_path%>
</h3>|
<%= link_to 'Volver', welcome_index_path %>
