<h1>Algoritmo de Sistema de Colonia de Hormigas</h1>
<h4 class="contenido">El algoritmo sistema de hormiga está inspirado en el comportamiento de forrajeo de las hormigas, específicamente en la comunicación por feromonas entre las hormigas en relación con una buena trayectoria entre la colonia y una fuente de alimento en un entorno. Este mecanismo se llama estigmergia.</h4>
<h4 class="contenido">El objetivo de la estrategia es explotar la información histórica y heurística para construir soluciones candidatas y doblar la información aprendida de la construcción de soluciones en la historia. Las soluciones se construyen una pieza discreta a la vez de una manera probabilística paso a paso. La probabilidad de selección de un componente se determina por la contribución heurística del componente al coste total de la solución y la calidad de las soluciones de las que históricamente se sabe que el componente ha sido incluido. La historia se actualiza proporcionalmente a la calidad de la solución más conocida y se reduce proporcionalmente al uso si los componentes discretos de la solución.</h4>
<h3>
  |<%= link_to 'Problemas para Sistema de Colonia de Hormigas', colony_ants_path%>
</h3>|
<%= link_to 'Volver', welcome_index_path %>